<div class="container">
  <div class="row justify-content-start">
    <h2>評価ランキング</h2>
    <table class="table align_middle">
      <% @items.each.with_index(1) do |item, i| %>
        <tr>
          <td><%= image_tag item.image, size: "100x100" %></td>
          <td><%= i %>位</td>
          <td><%= item.name %></td>
          <td>評価<%= item.posts.average(:star) %></td>
          <td><%= link_to "みんなの評価コメント", post_path(item.id) %><br></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>