<div class="container">
  <div class="row justify-content-center">
    <h2>コメント一覧</h2>
  </div>
  <div class="row justify-content-center">
    <table class= "table">
      <tr>
        <th></th>
        <th>ニックネーム</th>
        <th>評価</th>
        <th>コメント</th>
        <th></th>
      </tr>
      <% @posts.each do |user_post| %>
        <tr>
          <td><%= image_tag user_post.user.get_profile_image(100,100) %></td>
          <td><%= user_post.user.nickname %></td>
          <td>
            <div id="post_raty-<%= user_post.id %>"></div>
             <script>
              var elem = document.querySelector('#post_raty-<%= user_post.id %>');
              var opt = {
               starOn: "<%= asset_path('star-on.png') %>",
               starOff: "<%= asset_path('star-off.png') %>",
               readOnly: true,
               score: <%= user_post.star.present? ? user_post.star : "0" %>
               };
               raty(elem,opt);
             </script>
          </td>
          <td><%= user_post.comment %></td>
          <td>
            <% if current_user.id != user_post.user.id %>
              <% if current_user.following?(user_post.user) %>
                <%= link_to "フォロー外す", user_relationships_path(user_post.user), method: :delete, class: "btn btn-danger" %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(user_post.user), method: :post, class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>