<div class="container">
  <div class="row justify-content-center">
    <h3>商品一覧</h3>
  </div>
  <div class="row justify-content-start">
    <p><%= link_to "商品新規登録", new_admin_item_path, class: "btn btn-sm btn-primary" %></p>
      <table class="table align_middle">
        <tr>
          <th></th>
          <th>商品名</th>
          <th>ジャンル</th>
          <th></th>
        </tr>
        <% @items.each do |item| %>
        <tr>
          <td><% if item.image.attached? %>
                <%= image_tag item.image, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
          </td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= item.genre.name %></td>
          <td><%= link_to '削除する', admin_item_path(item.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </table>
  </div>
</div>