<div class="container">
  <div class="row justify-content-center">
    <h3><%= @user.nickname %>さんの会員詳細</h3>
  </div>
  <div class="row justify-content-center">
    <div ciass= "row flex-column">
      <div class="form-group">
        会員ID:<%= @user.id %>
      </div>
      <div class="form-group">
        ニックネーム:<%= @user.nickname %>
      </div>
      <div class="form-group">
        メールアドレス:<%= @user.email %>
      </div>
      <div class="form-group">
        年齢:<%= @user.birthday %>
      </div>
      <div class="form-group">
        性別:<%= @user.sex %>
      </div>
      <div class="form-group">
        会員ステータス:<% if @user.is_deleted? %>
                          <p class="text-secondary">退会</p>
                        <% else %>
                          <p class="text-success">有効</p>
                        <% end %>
      </div>
      <%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-success" %>
    </div>
  </div>
</div>
