<p><%= image_tag @user.get_profile_image(100,100) %></p>
<p>ニックネーム: <%= @user.nickname %></p>
<p>メールアドレス:<%= @user.email %></p>
<p>年齢: <%= @user.birthday %>歳</p>
<p>性別: <%= @user.sex %></p>
<p><%= link_to @user.followings.count, followings_path %> フォロー</p>
<p><%= link_to @user.followers.count, followers_path %> フォロワー</p>
