<div class="container">
  <div class="row justify-content-center">
   <h2 class="font-weight-normal mt-5 mb-5">会員情報編集</h2>
  </div>
  <div class="row justify-content-center">
    <%= form_with model:@user, local: true do |f| %>
      <p>プロフィール画像</p>
        <%= f.file_field :profile_image, accept: "image/*" %>
      <p>ニックネーム</p>
        <%= f.text_field :nickname %>
      <p>メールアドレス</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <p>年齢</p>
        <%= f.text_field :birthday %>
      <p>性別</p>
        <%= f.radio_button :sex, "男性" %>
        <%= f.label "男性", value: "男性" %>
        <%= f.radio_button :sex, "女性" %>
        <%= f.label "女性", value: "女性" %>
        <%= f.radio_button :sex, "秘密" %>
        <%= f.label "秘密", value: "秘密" %><br>
      <%= f.submit "編集内容を保存", class: "btn btn-sm btn-success" %>
    <% end %>
  </div>
</div>