<div class= "container" >
  <div class= "row">
    <div class= "col-4">
      <h2>プロフィール</h2>
      <%= render 'public/users/form', user: @user %>
    </div>
    <div class= "col-8">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <h2>調味料を探す</h2>
        <table class= "table">
          <tr>
            <td>
              <%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "ジャンル選択") %>
              <%= f.text_field :keyword, class: "ml-3 mb-3", size: "40", value: @keyword, placeholder: "商品名検索" %>
              <%= f.submit "検索", class: "btn btn-success" %>
            </td>
          </tr>
        </table>
        <h2>気になる調味料</h2>
        <div class= "row">
          <div class= "col">
            <table class= "table">
              <tr>
                <th colsapn="3"></th>
                <th>商品名</th>
                <th colsapn="3"></th>
              </tr>
          </div>
        </div>
        <div class= "row">
          <div class= "col">
            <% @attentions.each do |attention| %>
              <tr>
                <td>
                  <% if attention.user_id == current_user.id %>
                  <%= image_tag attention.item.image, size: "100x100" %>
                </td>
                <td>
                  <%= attention.item.name %>
                </td>
                <td>
                  <%= link_to "利用した調味料に追加", new_post_path(attention.item_id), data: { "turbolinks" => false }, class: "btn btn-success mb-4" %><br>
                  <%= link_to "気になる調味料から削除", item_attentions_path(attention.item_id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
                </td>
                  <% end %>
              </tr>
            <% end %>
            </table>
          </div>
        </div>
        <h2>利用した調味料</h2>
        <div class= "row">
          <div class= "col">
            <table class= "table">
              <tr>
                <th colsapn="3"></th>
                <th>商品名</th>
                <th>評価</th>
              </tr>
              <% @posts.each do |user_post| %>
                <tr>
                  <td><%= image_tag user_post.item.image, size: "100x100" %></td>
                  <td><%= user_post.item.name %></td>
                  <td>
                    <div id="post_raty-<%= user_post.id %>"></div>
                     <script>
                      var elem = document.querySelector('#post_raty-<%= user_post.id %>');
                      var opt = {
                       starOn: "<%= asset_path('star-on.png') %>",
                       starOff: "<%= asset_path('star-off.png') %>",
                       readOnly: true,
                       score: <%= user_post.star.present? ? user_post.star : "0" %>
                       };
                       raty(elem,opt);
                     </script>
                  </td>
                  <td>
                     <%= link_to "投稿詳細", item_path(user_post.item), class: "btn btn-success" %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      <% end %>
  </div>
</div>