<div class="container">
 <div class="row justify-content-center">
  <h2>投稿詳細画面</h2>
 </div>
 <div class= "row justify-content-center">
  <div class="row flex-column">
   <%= image_tag @item.image, size: "200x200" %>
   <strong>商品名：<%= @item.name %></strong>
  </div>
 </div>
 <div class="row justify-content-center">
   <div class="item-introduction">
     <%= @item.introduction %>
   </div>
 </div>
 <div class="row justify-content-center">
  <div class="row flex-column">
   <div class="form-group">
    <label class="form-label">評価:</label>
     <div id="post_raty"></div>
    <script>
     var elem = document.querySelector('#post_raty');
     var opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= @post.star.present? ? @post.star : "0" %>
      };
      raty(elem,opt);
    </script>
   </div>
   <div class="form-group">
    <div><label class="form-label">コメント</label></div>
     <div><%= @post.comment %></div>
   </div>
   <div class="form-group">
    <%= link_to "編集する", edit_item_path(@item.id), data: { "turbolinks" => false }, class: "btn btn-success" %>
    <%= link_to "削除する", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
   </div>
  </div>
 </div>
</div>