<%= image_tag @item.image, size: "100x100" %>
  <p>評価</p>
      <div id="post_raty"></div>
   <script>
    var elem = document.querySelector('#post_raty');
    var opt = {
     starOn: "<%= asset_path('star-on.png') %>",
     starOff: "<%= asset_path('star-off.png') %>",
     readOnly: true,
     score: <%= @post.star.present? ? @post.star : "0" %>
     };
     raty(elem,opt);
   </script>
 <p>コメント</p>
 <%= @post.comment %>
 <%= link_to "編集する", edit_item_path(@item.id), data: { "turbolinks" => false } %>